.team,.score{
    align-self: center;
    justify-content: center;
    text-align: center;
}
.score{
    background-color: red;
    color: white;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
h3{font-size: 20px;}
h4{font-size:40px}
.match{
    border-top: solid 2px black;
    padding: 10px;
    margin: 0px;
}
#dash{padding: 0;}
header>h1{
    text-align: center;
    padding: 20px;
}
.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: fit-content;
    padding: 20px;
    margin: 15px;
    border-radius: 25px;
    border: solid blue 2px;
    background-color: white;
    color:blue
}
.btn-container:hover{
    background-color: blue;
    color: white;
}
.button{
    font-size: 20px;
    margin: 0;
}
.navbar{
    margin-left: 30px;
    margin-right: 30px;
}
.nav-pills{margin-left: 15px;}
#dates{
    justify-content: space-around;
    margin-top: 10px;
}
header.top-scorer{
    display: flex;
    justify-content: center;
}
.top-scorer, .stats-row{display: flex;}
.card-title{text-align: center;}
.stats-row{margin-bottom: 1rem;}
.top-scorer{
    border-bottom: solid black 1px;
    margin-bottom: 1rem;
}
.top-scorer > #logo{
    margin-bottom: 2rem;
    width: 25%;
    height: auto;
}
#card-container{
    margin-left: auto;
    float: right;
}
#pos, #name, #team{
    margin-right: 1rem;
    margin-bottom: 0rem;
}
.stats-row> #logo{
    margin-right: 1rem;
    width: 7%;
    height: auto;
}
#team{font-size: 15px;}
#stat{
    margin-left: auto;
    float: right;
}
.team-header{display: flex;}
.team-header > #logo{
    width: 14%;
    height: auto;
    margin-bottom: auto;
    margin-top: auto;
}